
joblib
numpy
matplotlib.pyplot
cross_val_score
RandomForestClassifier
accuracy_score
classification_report
confusion_matrix
LogisticRegression
train_test_split
TfidVectorizer
Textblob
seaborn
WordCloud
matplotlib.font_manager
spacy
STOP_WORDS
English
pandas

